.params-container {
    overflow: hidden;
    &:first-child {
        border-top: 1px solid #E5E5E5;
    }
}

.params {
    border-bottom: 1px solid #E5E5E5;

    .params-name,
    .params-value,
    .params-trash,
    .params-checked {
        height: 32px;
        overflow: hidden;
        padding: 0 4px 0 4px;
        // border: 1px solid #E5E5E5;

    }

    .params-name,
    .params-checked,
    .params-value {
        // border-left: 1px solid #E5E5E5;
        border-right: 1px solid #E5E5E5;
    }

    .params-checked,
    .params-trash {
        padding: 4px 4px 2px 4px;
        cursor: pointer；
    }

    .input {
        color: #3a3636;
        border: 1px solid #E5E5E5;
        border: 0px;
        border-radius: 0;
        font-weight: 420;
        font-size: 12px;

        &:focus {
            box-shadow: none
        }
    }
}