.request-badge {
    padding: 1px 4px;
    line-height: 10px;
    font-size: 8px;
    font-weight: 300px;
    border: 1px solid #D9D9D9;
    margin-left: 5px;
    border-radius: 4px;
    color: #737373;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}